/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav ul li {
  
  background-color: green;
  color: white;
  border-radius: 50px;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
nav ul li:hover {
  background-color: #4CAF50; 
  color: white;
}*/
.App {
  text-align: center;
}

.aParent {
  float: left;
  width: 10%;
}
.nowrap {
  white-space: nowrap;
}

.title {
  background-color: lightgreen;
}

.author {
  background-color: lightgreen;
}

.authors {
  float: left;
}
nav {
  height: 50px;
  background-color: greenyellow;
}
.liste {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin-right: 10px;
  color: black;
  cursor: pointer;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}