
h3{
    color: blueviolet;  
}

.col-3{
    align-items: center;
    display: inline-flex;
    
}
.header{
    margin-left: 40px;
}

#story_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 100%;
    border:solid transparent 1px;
    border-radius:6px;
    
  }
  
  #story_table td, #story_table th {
    border: 1px solid #ddd;
    padding: 8px;border-radius:6px;
  }
  
  #story_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #story_table tr:hover {background-color: #ddd;}
  
  #story_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    
  }